.menu-bar {
    background-color: #77828d;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.item {
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
    font-weight: 700;
}

.item2 {
    background-color: transparent;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
    width: 350px;
}

.item.title {
    font-weight: 900;
    font-size: larger;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.item:hover {
    // background-color: rgba(0, 0, 0, 0.1);
}