/* You can add global styles to this file, and also import other style files */

@import '~material-design-icons/iconfont/material-icons.css';
@font-face {
    font-family: "Kdam Thmor Pro";
    src: url("./assets/KdamThmorPro-Regular.woff2") format("woff2"), url("./assets/KdamThmorPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import "assets/sanPro/stylesheet.css";
// $primary_font: "Kdam Thmor Pro";
$primary_font: "Source Sans Pro";
* {
    font-family: $primary_font;
}

html,
body {
    height: auto;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}